[Unit]
Description=FSClip
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User={USER}
ExecStart={BINARY_PATH} --watch-dir {WATCH_DIR}
